.videos {
    margin-top: rem(20px);

    &__block {

        &__ads {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include smallphones {
                align-items: unset;
                text-align: center;
            }

            &-title {
                margin-bottom: rem(20px);
                font-family: 'Noto Sans', sans-serif;
                font-weight: 700;
                font-size: rem(35px);
                color: #138d9a;
            }
        }

        &-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            @include smallphones {
                flex-direction: column;
            }
        }

        &-item {
            @include smallphones {
                margin-bottom: rem(10px);
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-video {
            border-radius: 25px;
            width: rem(555px);
            height: rem(313px);
            @include phones {
                width: rem(400px);
                height: rem(224px);
            }
            @include smallphones {
                width: rem(300px);
                height: rem(166px);
            }
        }

        &-subtitle {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: rem(18px);
            color: #000;
            margin-top: rem(25px);
            @include smallphones {
                margin-top: rem(5px);
            }
        }
    }
}