.container {
    max-width: rem(1200px);
    width: 95%;
    margin: 0 auto;
    padding-top: rem(30px);
    //padding-bottom: rem(30px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: rem(30px);
    position: relative;

    &__logo {
        display: flex;
        align-items: center;
        margin-right: 10%;
        @include desktop {
            margin-right: 6%;
        }
        
        &-img {
            margin-right: rem(12px);
            width: rem(133px);
            height: rem(107px);
            background-color: #0299a2;
            @include phones {
                width: rem(70px);
                height: rem(55px);
            }
        }
        &-pic {
            width: 100%;
            height: 100%;
        }
        &-text {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            max-width: rem(121px);
            font-size: rem(25px);
            color: #000;
            line-height: rem(35px);
            @include phones {
                font-size: rem(15px);
                max-width: rem(70px);
                line-height: rem(17px);
            }
        }
    }

    &__nav {
        //margin-right: auto;
        @include tablets {
            margin-right: unset;
        }
        &-list {
            display: flex;
        }
        &-item {
            margin-right: rem(35px);
            &:last-child {
                margin-right: 0;
            }
            @include desktop {
                margin-right: rem(15px);
                
            }
        }
        &-link {
            font-family: 'Noto Sans', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            color: #000;
            font-size: rem(35px);
            transition: color .6s;
            @include desktop {
                font-size: rem(30px);
            }
            @include tablets {
                font-size: rem(20px);
            }
            @include phones {
                font-size: rem(15px);
            }
            &:hover {
                color: #1f90a2;
                transition: color .6s;
            }
        }
    }

    &__lang {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &-list {          
            display: flex;

            &:hover {
                .header__lang-item {
                    margin-right: rem(5px);
                    transition: .6s;
                    @include desktop {
                        margin-right: rem(3px);
                    }
                }
            }
        }
        &-item {
            margin-right: rem(-45px);
            transition: .6s;
            @include desktop {
                margin-right: rem(-37px);
            }
    
            &:first-child {
                z-index: 20;
                .header__lang-link {
                    background-color: #4a81a8;
                }
            }
            &:nth-child(2) {
                z-index: 15;
                .header__lang-link {
                    background-color: #00c0af;
                }
            }
            &:last-child {
                z-index: 10;
                margin-right: 0;
                .header__lang-link {
                    background-color: #69f5f2;
                }
            }
        }
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: rem(55px);
            height: rem(55px);
            @include desktop {
                width: rem(45px);
                height: rem(45px);
            }
        }
        &-text {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            font-size: rem(24px);
            color: #fff;
            @include desktop {
                font-size: rem(18px);
            }
        }
    }
}

.welcome {
    margin-bottom: rem(94px);
    &__about {
        display: flex;
        justify-content: space-between;
        @include desktop {
            justify-content: center;
        }
        @include phones {
            flex-direction: column;
            align-items: center;
        }
        &-left {
            display: flex;
            align-items: flex-end;
            @include desktop {
                flex-direction: column;
                margin-right: 20%;
            }
            @include tablets {
                margin-right: 10%;
            }
            @include phones {
                margin-right: 0;
                margin-bottom: rem(25px);
            }
            &-pic {
                margin-right: rem(20px);
                width: rem(175px);
                height: rem(206px);
                flex-shrink: 0;
                @include desktop {
                    margin-right: 0;
                    margin-bottom: rem(20px);
                }
            }
            &-img {
                width: 100%;
                height: 100%;
                transform: scale(-1, 1);
            }
        }
        &-right {
            display: flex;
            @include desktop {
                flex-direction: column-reverse;
            }
            &-pic {
                margin-left: rem(57px);
                width: rem(222px);
                height: rem(206px);
                flex-shrink: 0;
                @include desktop {
                    margin-bottom: rem(20px);
                    margin-left: 0;
                }
            }
            &-img {
                width: 100%;
                height: 100%;
                /* @include desktop {
                    transform: scale(-1, 1);
                } */
            }
        }
    }

    &__vantages {
        margin-bottom: rem(12px);
        @include desktop {
            margin-bottom: 0;
        }
        &-list {
            display: flex;
            flex-direction: column;
        }
        &-item {
            position: relative;
            padding-left: rem(63px);
            margin-bottom: rem(34px);
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: rem(20px);
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                content: '';
                background: url(../img/star.png);
                width: rem(40px);
                height: rem(38px);
                background-size: cover;
            }
        }
    }

    &__contact {
        max-width: rem(270px);
    }

}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include desktop {
        justify-content: unset;
        flex-direction: column-reverse;
    }

    &-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop {
            align-items: flex-start;
            margin-top: rem(20px);
        }
        @include tablets {
            align-items: center;
        }
        &-text {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: rem(20px);
            color: #000;
            &:first-child {
                margin-bottom: rem(15px);
            }
            &:hover {
                color: #1f90a2;
            }
        }
    }
}

.socials {
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-item {
        &:nth-child(-n+4) {
            margin-bottom: rem(12px);
        }
    }
    &-link {
        width: 100%;
        height: 100%;
    }
    &-pic {
        width: rem(56px);
        height: rem(56px);
        fill: #02a9bb;
    }
}

.order {
    display: flex;
    justify-content: space-between;
    @include desktop {
        justify-content: unset;
        flex-direction: column;
        align-items: center;
    }

    &__showreel {
        display: flex;
        flex-direction: column;
        position: relative;
        &-title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: rem(-50px);
            font-family: 'Noto Sans', sans-serif;
            font-weight: 700;
            font-size: rem(35px);
            color: #138d9a;
        }
        &-video {
            border-radius: 25px;
            @include phones {
                width: 400px;
                height: 224px;
            }
        }
        &-subtitle {
            margin-top: rem(8px);
            text-transform: uppercase;
            font-family: 'Noto Sans', sans-serif;
            font-weight: 700;
            font-size: rem(15px);
            color: #000;
        }
        &-desc {
            margin-top: rem(14px);
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: rem(13px);
            color: #000;
        }
    }

    &__desc {
        display: flex;
        @include desktop {
            margin-top: rem(50px);
        }

        &-text {
            max-width: rem(271px);
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: rem(18px);
            color: #000;
            line-height: 30px;
            margin-right: rem(33px);
        }
        &-btn {
            align-self: flex-end;
            padding-bottom: 50px;
            @include desktop {
                padding-bottom: 0;
                padding-top: rem(100px);
            }
            @include tablets {
                padding-top: rem(110px);
            }
            @include phones {
                padding-top: rem(150px);
            }
            &-link {
                position: relative;
                background-color: #02a9bb;
                //padding: rem(40px);
                width: rem(245px);
                height: rem(150px);
                border: 0;
                outline: 0;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    content: '';
                    width: rem(230px);
                    height: rem(135px);
                    background-color: transparent;
                    border: 2px dashed #fff;
                }
            }
            &-text {
                font-family: 'Noto Sans', sans-serif;
                font-weight: 700;
                font-size: rem(35px);
                color: #fff;
                line-height: 50px;
            }
            &-img {
                position: absolute;
                bottom: 133px;
                left: 37px;
            }
        }
    }
}

.footer {
    margin-top: rem(50px);
    border: 2px dashed #02a9bb;
    border-bottom: none;
    border-top-left-radius: rem(25px);
    border-top-right-radius: rem(25px);
    padding: rem(25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones {
        flex-direction: column;
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        font-size: rem(20px);
        color: #000;

        &-item {
            margin-bottom: rem(15px);
            &:last-child {
                margin-bottom: 0;
            }
            @include phones {
                display: inline-block;
                &:last-child {
                    display: block;
                }
            }
        }
    }

    &__contact {
        &-contacts {
            margin-top: 0;
            @include phones {
                margin-top: rem(15px);
                margin-bottom: rem(15px);
            }
        }
    }

    &__socials {
        max-width: rem(270px);
    }
}