.videos {
    margin-top: rem(20px);

    &__block {

        &__ads {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-title {
                margin-bottom: rem(20px);
                font-family: 'Noto Sans', sans-serif;
                font-weight: 700;
                font-size: rem(35px);
                color: #138d9a;
            }
        }

        &-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &-video {
            border-radius: 25px;
            @include phones {
                width: rem(400px);
                height: rem(224px);
            }
        }

        &-subtitle {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: rem(18px);
            color: #000;
            margin-top: rem(25px);
        }
    }
}