.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);

    &__window {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: rem(5px);
        background-color: #02a9bb;
    }
    &__form {
        position: relative;
        background-color: transparent;
        border: 2px dashed #fff;
        padding: rem(15px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__row {
        margin-bottom: rem(10px);
        
        &-contacts {
            display: flex;
        }
        &-comment {
            width: 100%;
            margin-bottom: rem(15px);
        }
    }
    &__name, &__email, &__comment {
        display: flex;
        flex-direction: column;
        &-title {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: rem(20px);
            color: #fff;
            margin-bottom: rem(5px);
        }
    }
    &__name {
        margin-right: rem(10px);
        &-input, &-email {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: rem(16px);
            color: #61646d;
        }
    }
    &__comment {
        &-input {
            border: 0;
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: rem(16px);
            color: #61646d;
            height: 60px;
            width: 100%;
            resize: none;
            //background-color: #ccc;
            //line-height: 190%;
            word-wrap: break-word;
            //text-align:center;
        }
    }
    &__title {
        font-family: 'Noto Sans', sans-serif;
        font-weight: 700;
        font-size: rem(35px);
        color: #fff;
        margin-bottom: rem(15px);
    }
    
    &__submit {
        
        &-btn {
            padding: rem(10px) rem(35px);
            background-color: #fff;
            font-family: 'Noto Sans', sans-serif;
            font-weight: 700;
            font-size: rem(16px);
            color: #02a9bb;
            text-transform: uppercase;
            border: 0;
            cursor: pointer;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: rem(11px);
        transform: rotate(45deg);
        
        &-cross {
            position: relative;
            width: 4px;
            height: 25px;
            background: #fff;
            &:before {
                content: '';
                position: absolute;
                width: 4px;
                height: 25px;
                background: #fff;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }
}