.videos {
    margin-top: rem(20px);

    &__block {
        margin-top: rem(30px);
        display: flex;
        flex-direction: column;
        @include desktop {
            align-items: center;
        }
        @include smallphones {
            align-items: center;
            text-align: center;
        }
        &:first-child {
            margin-top: 0;
        }

        &__ads {
            /* display: flex;
            flex-direction: column;
            align-items: center;
            @include smallphones {
                align-items: unset;
                text-align: center;
            } */

            &-title {
                margin-bottom: rem(20px);
                font-family: 'Noto Sans', sans-serif;
                font-weight: 700;
                font-size: rem(35px);
                color: #138d9a;
                text-align: center;
            }
        }

        &__info {
            margin-bottom: rem(30px);
            display: flex;
            justify-content: center;
            align-items: center;
            @include desktop {
                flex-wrap: wrap;
                max-width: 50%;
            }

            &-left, &-right {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-left {
                margin-right: 5%;
                @include desktop {
                    margin-right: 0;
                    margin-bottom: rem(10px);
                }
                @include smallphones {
                    flex-direction: column;
                    margin-right: 0;
                }
            }

            &-right {
                @include desktop {
                    //flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }

            &__name {
                font-family: 'Noto Sans', sans-serif;
                font-weight: 400;
                font-size: rem(30px);
                color: #000;
                margin-right: 5%;
                @include smallphones {
                    margin-right: 0;
                }
            }

            &__series {
                display: flex;
                align-items: center;
                margin-top: rem(13px);
                &__count {
                    width: rem(56px);
                    height: rem(56px);
                    border-radius: 50%;
                    background-color: #4b80a8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: rem(13px);
                    font-weight: 700;
                    font-size: rem(30px);
                    color: #fff;
                }
                &__text {
                    font-size: rem(30px);
                }
            }

            &__logo {
                flex-shrink: 0;
                &-fix {
                    width: rem(271px);
                    height: rem(84px);
                }
                &-knk {
                    width: rem(170px);
                    height: rem(116px);
                }
                &-dino {
                    width: rem(156px);
                    height: rem(93px);
                }
                &-pic {
                    width: 100%;
                    height: 100%;
                }
                &__dev {
                    flex-shrink: 0;
                    &-aero {
                        width: rem(144px);
                        height: rem(144px);
                    }
                    &-toonbox {
                        width: rem(295px);
                        height: rem(83px);
                    }
                    &-animax {
                        width: rem(190px);
                        height: rem(97px);
                        margin-right: 5%;
                    }
                    &-riki {
                        width: rem(127px);
                        height: rem(56px);
                    }
                    &-pic {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &__description {
                max-width: rem(390px);
                font-family: 'Noto Sans', sans-serif;
                font-weight: 400;
                font-size: rem(18px);
                color: #000;
                line-height: 150%;
                margin-right: 5%;
                @include desktop {
                    margin-right: 0;
                    width: 100%;
                    margin-bottom: rem(15px);
                }
            }

            &__text {
                white-space: nowrap;
            }
        }

        &-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include desktop {
                width: unset;
                flex-wrap: unset;
                flex-direction: column;
            }
            @include smallphones {
                flex-direction: column;
            }
        }

        &-item {
            margin-top: rem(30px);
            &:first-child, &:nth-child(2) {
                margin-top: 0;
            }
            @include desktop {
                &:nth-child(2) {
                    margin-top: rem(30px);
                }
            }
            
            /* @include smallphones {
                margin-top: rem(10px);
                &:last-child {
                    margin-bottom: 0;
                }
            } */
        }

        &-video {
            border-radius: 25px;
            width: rem(555px);
            height: rem(312px);
            @include phones {
                width: rem(400px);
                height: rem(224px);
            }
            @include smallphones {
                width: rem(300px);
                height: rem(166px);
            }
        }

        &-subtitle {
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            font-size: rem(18px);
            color: #000;
            margin-top: rem(10px);
            text-align: center;
            @include smallphones {
                margin-top: rem(5px);
            }
        }
    }
}